
.joinUsernameWrapper {
    width: 55%;
    height: 40%;
    padding-top: 3%;
    align-items: flex-start !important;
}

.usernameInput {
    width: 100%;
    height: 30%;
    padding: 0 3% 0 3%;
    border-radius: 12px;
    border: none;
    font-size: 1.5rem;
    background-color: #FFFFFF;
    color: #444444;
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
    
}

#yourUsername{
    margin: 0 0 5px 0;
    padding: 0;
    color: #FFFFFF;
    text-shadow: 0 1px 3px 1px rgba(60,64,67,0.149);
}

.joinButtonsWrapper{
    height: 45%;
    width: 100%;
    justify-content: space-evenly !important;
    text-align: center;
}

.joinButton{
    border: none;
    width: 30%;
    height: 40%;
    display:inline-block;
    margin:0 0.3em 0.3em 0;
    border-radius:1.5em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:500;
    font-size: large;
    color: #444444;
    background-color:#FFFFFF;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align:center;
    position:relative;
    transition-duration: .8s;
}

.joinButton:hover{
    cursor: pointer;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(3, 171, 248, 0.705);
}

.joinButton:active{
    top:0.1em;
}

.modalRoot{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(222,222,222,.25);
}

.modalWrapper{
    height: 40%;
    width: 20%;
    min-width: 350px;
    border-radius: 15px;;
    justify-content: flex-start;
}

.modalHeader{
    height: 20%;
    width: 100%;
    background-color: #383d3b;
    color: white;
    font-size: 1.2vw;
    border-radius: 11px 11px 0 0;
}

.modalTitle{
    vertical-align: middle;
    font-size: 2.3vh;
}

.roomCodeTitle{
    font-size: 2.3vh;
    height: 10%;
    color: #444444;
    font-weight: 100;
    width: 75%;
    text-align: left;
}

.roomCode {
    height: 20%;
    width: 75%;
    background-color: #F0F0F0;
    border-radius: 15px;
    font-size: x-large;
    border: none;
    letter-spacing: 3px;
    color: #444444;
    overflow: hidden;
}

.roomButton{
    border: none;
    width: 40%;
    height: 30%;
    display:inline-block;
    padding:0.7em 1.4em;
    margin:0 0.3em 0.3em 0;
    border-radius:0.15em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    text-transform:uppercase;
    font-weight:400;
    color:#444444;
    background-color:#EFEFEF;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(0,0,0,0.17);
    text-align:center;
    position:relative;
    transition-duration: .8s;
}

.btnDisabled{
    pointer-events: none;
    cursor: pointer;
    opacity: .3;
}

.roomButton:hover, #roomLink:hover{
    cursor: pointer;
    box-shadow:inset 0 -0.6em 0 -0.35em rgba(3, 171, 248, 0.705);
}

.roomButton:active{
    top:0.1em;
}

#roomLink, #roomLink:visited {
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
    text-decoration: none;
}