.gameOpp{
    width: 33.33%;
    height: 50%;
    transition: box-shadow;
}

.oppHeader{
    height: 10%;
    width: 100%;
    font-size: 1.5vw;
}

.oppItems{
    height: 90%;
    width: 100%;
    justify-content: space-around !important;
    text-decoration: none;
}

.gameOpp.activePlayer .cardImage{
    box-shadow: 0 0 80px 10px rgba(0, 130, 17, 0.75);
    transition-duration: 50ms;
}