.contentDiv{
    height: 100%;
    width: 20%;
}

.contentDivCenter{
    height: 100%;
    width: 60%;
    justify-content: space-evenly !important;
}

.gameContent{
    color:#444444;
    background-image: url('./../../img/game_background.png');
    background-color: #EEEEEE;
    background-size: auto;
    box-shadow: inset 0 0 30em .1em rgba(100,100,100,.5);
}