.challengeButton{
    width: 40%;
    height: 30%;
    border: none;
    transition: opacity;
    border-radius: 8px;
    background: #EEEEEE;
    font-size: 1.6vw;
}

.challengeButton.active{
    opacity: 1;
    border: 2px solid red;
}

.challengeButton.inactive{
    opacity: .4;
    pointer-events: none;
}